@CHARSET "UTF-8";

/* Ready for Deployment */

#street-view {
	height: 300px;
	width: 100%;
	margin-top: 16px;
	margin-bottom: 16px;
}

.section {
	margin-bottom: 16px;
}

#navigate {
	margin-top: 8px;
	margin-bottom: 8px;
}