<!DOCTYPE html>
<html ng-app="index">

<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    
    <title>Electric Vehicle Charger Locater</title>
    
    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="/css/ui-grid.css"></link>
    <link rel="stylesheet" href="/css/index.css"></link>
    
    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLUT5kLdoTl5dawmFNlz0tAheiPPCVtxU"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/ui-grid.js"></script>
    <script src="/js/map.js"></script>
</head>

<body ng-controller="indexCtrl">
	<div class="container">
		<h2>Electric Vehicle Charging Station Locator</h2>
		<div class="panel panel-default">
		<div class="panel-heading"><h4>Find a Charging Station</h4></div>
		<div class="panel-body">
		<div id="map">
    	</div>
    	
    	<h4>Filter Results</h4>
    	<div ui-grid="gridOptions" class="grid">
    	</div>
    	<button class="btn btn-block" ng-click="refreshMap()">Refresh Map</button>
    	</div>
    	</div>
    	
    	<div class="panel panel-default">
    	<div class="panel-heading"><h4>Live Traffic Messages</h4></div>
    	<div class="panel-body">
    	<div class="table">
    		<table class="table">
    			<thead>
    			<tr>
	    			<th>Time</th>
	    			<th>Message</th>
    			</tr>
    			</thead>
    			
    			<tbody>
    			<tr ng-repeat="msg in trafficMsgs">
    				<td>{{msg.refDate}}</td>
    				<td>{{msg.engShort}}</td>
    			</tr>
    			</tbody>
    		</table>
    	</div>
    	</div>
    	</div>
    	
	</div>
</body>

</html>