<!DOCTYPE html>
<html ng-app="streetView" ng-controller="streetViewCtrl">
<head>
<meta charset="UTF-8"></meta>
<title>Route Planning</title>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLUT5kLdoTl5dawmFNlz0tAheiPPCVtxU"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
<script src="/js/routing.js"></script>
<link rel="stylesheet" href="/css/routing.css"></link>
</head>
<body>
<span id="lat" style="display: none;" th:text="${lat}" ng-model="lat"></span>
<span id="lng" style="display: none;" th:text="${lng}" ng-model="lng"></span>
<div id="map"></div>
<div id="routing"></div>
<div id="right-panel"></div>

</body>
</html>