<!DOCTYPE html>
<html ng-app="streetView" ng-controller="streetViewCtrl">
<head>
<meta charset="UTF-8"></meta>
<title>Route Planning</title>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLUT5kLdoTl5dawmFNlz0tAheiPPCVtxU"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="./js/routing.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="./css/routing.css"></link>
</head>
<body>
<span id="lat" style="display: none;" th:text="${lat}" ng-model="lat"></span>
<span id="lng" style="display: none;" th:text="${lng}" ng-model="lng"></span>

<nav class="navbar navbar-inverse">
	  	<div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/evc-locator">EV Charger Locator</a>
	    </div>
	  	</div>
	</nav>

<div class="container">

	<div id="map"></div>
	<div id="routing"></div>
	<div id="right-panel"></div>

</div>

</body>
</html>