<!DOCTYPE html>
<html ng-app="streetView" ng-controller="streetViewCtrl">
<head>
<meta charset="UTF-8"></meta>
<title th:text="${location}"></title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="./css/station-details.css"></link>

<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLUT5kLdoTl5dawmFNlz0tAheiPPCVtxU"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="./js/streetview.js"></script>

</head>
<body>
	<script>
	(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v2.8&amp;appId=393028804386936";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

	<nav class="navbar navbar-inverse">
	  	<div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">EV Charger Locator</a>
	    </div>
	  	</div>
	</nav>
	
	<div id="fb-root"></div>
	
	<div class="container">
	<h2 th:text="${location}"></h2>
	<div id="section">
	<a href="/">Home</a> > <span th:text="${location}"></span>
	</div>
	
	<div id="street-view"></div>
	
	<span id="lat" style="display: none;" th:text="${lat}" ng-model="lat"></span>
	<span id="lng" style="display: none;" th:text="${lng}" ng-model="lng"></span>
	
	<div id="section" class="panel panel-default">
		<div class="panel-heading">
		<h4>Details</h4>
		</div>
		<div class="panel-body">
			<div class="row">
			<div class="col-sm-4">Address</div>
			<div class="col-sm-8"><span th:text="${address}"></span></div>
			</div>
			
			<div class="row">
			<div class="col-sm-4">Charger Type</div>
			<div class="col-sm-8"><span th:text="${chargeType}"></span></div>
			</div>
			
			<div class="row">
			<div class="col-sm-4">Parking No.</div>
			<div class="col-sm-8"><span th:text="${parkingNo}"></span></div>
			</div>
			
			<div class="row">
			<div class="col-sm-4">Provider</div>
			<div class="col-sm-8"><span th:text="${provider}"></span></div>
			</div>
			<div class="fb-like" th:attr="data-href='http://hk-ev-charger-locator.tk/details?no=' + ${no}" data-width="500px" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
		</div>
		</div>
		
		<div id="section" class="panel panel-default">
			<div class="panel-heading">
			<h4>Comments</h4>
			</div>
			<div class="panel-body">
			<div class="fb-comments" th:attr="data-href='http://hk-ev-charger-locator.tk/details?no=' + ${no}" data-width="100%" data-numposts="5"></div>
			</div>
		</div>
		
	</div>
</body>
</html>